In [ ]:
a='''hello coder trying to do code but getting confused in logics not understanding'''
b='''hello coder trying to do code and getting answers properly also able to build logic understanding'''

In [1]:
pip install nltk

Requirement already satisfied: nltk in c:\users\mounika sanapala\appdata\local\programs\python\python312\lib\site-packages (3.9.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: click in c:\users\mounika sanapala\appdata\local\programs\python\python312\lib\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\mounika sanapala\appdata\local\programs\python\python312\lib\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\mounika sanapala\appdata\local\programs\python\python312\lib\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\mounika sanapala\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.66.4)
Requirement already satisfied: colorama in c:\users\mounika sanapala\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)

In [4]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/singhrau0/Big-Data-Preprocessing/refs/heads/main/titanic_dataset.csv")
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
#filter the data of male whose age greater than 50
df[(df['Gender']=='male') & (df['Age']>50)].count()

PassengerId    47
Survived       47
Pclass         47
Name           47
Gender         47
Age            47
SibSp          47
Parch          47
Ticket         47
Fare           47
Cabin          20
Embarked       47
dtype: int64

In [10]:
df[(df['Gender']=='male') & (df['Survived']==1)]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
36,37,1,3,"Mamee, Mr. Hanna",male,NaN,0,0,2677,7.2292,NaN,C
55,56,1,1,"Woolner, Mr. Hugh",male,NaN,0,0,19947,35.5000,C52,S
...,...,...,...,...,...,...,...,...,...,...,...,...
838,839,1,3,"Chip, Mr. Chang",male,32.0,0,0,1601,56.4958,NaN,S
839,840,1,1,"Marechal, Mr. Pierre",male,NaN,0,0,11774,29.7000,C47,C
857,858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [11]:
df[(df['Gender']=='male') & (df['Survived']==1)].count()

PassengerId    109
Survived       109
Pclass         109
Name           109
Gender         109
Age             93
SibSp          109
Parch          109
Ticket         109
Fare           109
Cabin           45
Embarked       109
dtype: int64

In [12]:
df[(df['Gender']=='female') & (df['Survived']==1)]

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S

In [14]:
df[df['Age']>55].count()

PassengerId    40
Survived       40
Pclass         40
Name           40
Gender         40
Age            40
SibSp          40
Parch          40
Ticket         40
Fare           40
Cabin          22
Embarked       39
dtype: int64

In [15]:
df.loc[df['Age']>55,'Fare']=500

In [23]:
#update fare values of pclass 1 who have more than 
#4 sibsp to 1000
[df['Pclass']==1 & (df['sibsp']>2)]

[0      False
 1       True
 2      False
 3       True
 4      False
        ...
 886    False
 887     True
 888    False
 889     True
 890    False
 Length: 891, dtype: bool]

In [24]:
df.loc[df['Pclass']==1 & (df['sibsp']>2),'Fare']=1000

In [25]:
df

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sibsp
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,NaN,S,NaN
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,1000.000,C85,C,1000.0
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,NaN,S,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,1000.000,C123,S,1000.0
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,NaN,S,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S,NaN
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,1000.000,B42,S,1000.0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.450,NaN,S,NaN
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,1000.000,C148,C,1000.0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q,NaN

In [29]:
#increase fare by 30 percentage where gender is
#female and pclass is 1
df.loc[(df['Gender']=='female') & (df['Pclass']==1),'Fare'] = df['Fare']*1.3

In [31]:
df.isnull()

,PassengerId,Survived,Pclass,Name,Gender,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,sibsp
0,False,False,False,False,False,False,False,False,False,False,True,False,True
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,False,False,False,False,False,False,False,False,False,False,True,False,True
887,False,False,False,False,False,False,False,False,False,False,False,False,False
888,False,False,False,False,False,True,False,False,False,False,True,False,True
889,False,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,True,False,True

In [32]:
df['Age'].mean()

29.69911764705882

In [33]:
df['Age'].median()

28.0

In [34]:
df['Age'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
886    False
887    False
888     True
889    False
890    False
Name: Age, Length: 891, dtype: bool

In [35]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Gender           0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
sibsp          675
dtype: int64

In [37]:
df.loc[df['Age'].isnull(),'Age']=29.69

In [38]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Gender           0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
sibsp          675
dtype: int64

In [2]:
pip install selenium

Collecting selenium
  Downloading selenium-4.27.1-py3-none-any.whl.metadata (7.1 kB)
Requirement already satisfied: urllib3<3,>=1.26 in c:\users\mounika sanapala\appdata\local\programs\python\python312\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (2.2.1)
Collecting trio~=0.17 (from selenium)
  Downloading trio-0.28.0-py3-none-any.whl.metadata (8.5 kB)
Collecting trio-websocket~=0.9 (from selenium)
  Downloading trio_websocket-0.11.1-py3-none-any.whl.metadata (4.7 kB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\mounika sanapala\appdata\local\programs\python\python312\lib\site-packages (from selenium) (2024.2.2)
Requirement already satisfied: typing_extensions~=4.9 in c:\users\mounika sanapala\appdata\local\programs\python\python312\lib\site-packages (from selenium) (4.12.2)
Collecting websocket-client~=1.8 (from selenium)
  Downloading websocket_client-1.8.0-py3-none-any.whl.metadata (8.0 kB)
Requirement already satisfied: attrs>=23.2.0 in c:\users\mounika sanapala\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.17->selenium) (23.2.0)
Collecting sortedcontainers (from trio~=0.17->selenium)
  Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl.metadata (10 kB)
Requirement already satisfied: idna in c:\users\mounika sanapala\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.17->selenium) (3.7)
Collecting outcome (from trio~=0.17->selenium)
  Downloading outcome-1.3.0.post0-py2.py3-none-any.whl.metadata (2.6 kB)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\mounika sanapala\appdata\local\programs\python\python312\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Collecting cffi>=1.14 (from trio~=0.17->selenium)
  Downloading cffi-1.17.1-cp312-cp312-win_amd64.whl.metadata (1.6 kB)
Collecting wsproto>=0.14 (from trio-websocket~=0.9->selenium)
  Downloading wsproto-1.2.0-py3-none-any.whl.metadata (5.6 kB)
Collecting pysocks!=1.5.7,<2.0,>=1.5.6 (from urllib3[socks]<3,>=1.26->selenium)
  Downloading PySocks-1.7.1-py3-none-any.whl.metadata (13 kB)
Collecting pycparser (from cffi>=1.14->trio~=0.17->selenium)
  Downloading pycparser-2.22-py3-none-any.whl.metadata (943 bytes)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\mounika sanapala\appdata\local\programs\python\python312\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Downloading selenium-4.27.1-py3-none-any.whl (9.7 MB)
   ---------------------------------------- 0.0/9.7 MB ? eta -:--:--
   -- ------------------------------------- 0.5/9.7 MB 2.8 MB/s eta 0:00:04
   ---- ----------------------------------- 1.0/9.7 MB 2.6 MB/s eta 0:00:04
   ---- ----------------------------------- 1.0/9.7 MB 2.6 MB/s eta 0:00:04
   ------- -------------------------------- 1.8/9.7 MB 2.3 MB/s eta 0:00:04
   ---------- ----------------------------- 2.6/9.7 MB 2.4 MB/s eta 0:00:03
   -------------- ------------------------- 3.4/9.7 MB 2.7 MB/s eta 0:00:03
   ----------------- ---------------------- 4.2/9.7 MB 2.8 MB/s eta 0:00:02
   ------------------- -------------------- 4.7/9.7 MB 2.8 MB/s eta 0:00:02
   ------------------- -------------------- 4.7/9.7 MB 2.8 MB/s eta 0:00:02
   -------------------- ------------------- 5.0/9.7 MB 2.3 MB/s eta 0:00:03
   -------------------- ------------------- 5.0/9.7 MB 2.3 MB/s eta 0:00:03
   -------------------- ------------------- 5.0/9.7 MB 2.3 MB/s eta 0:00:03
   --------------------- ------------------ 5.2/9.7 MB 2.0 MB/s eta 0:00:03
   ---------------------- ----------------- 5.5/9.7 MB 1.9 MB/s eta 0:00:03
   ----------------------- ---------------- 5.8/9.7 MB 1.8 MB/s eta 0:00:03
   ----------------------- ---------------- 5.8/9.7 MB 1.8 MB/s eta 0:00:03
   ------------------------ --------------- 6.0/9.7 MB 1.6 MB/s eta 0:00:03
   ------------------------- -------------- 6.3/9.7 MB 1.6 MB/s eta 0:00:03
   --------------------------- ------------ 6.6/9.7 MB 1.6 MB/s eta 0:00:02
   --------------------------- ------------ 6.6/9.7 MB 1.6 MB/s eta 0:00:02
   ---------------------------- ----------- 6.8/9.7 MB 1.5 MB/s eta 0:00:02
   ----------------------------- ---------- 7.1/9.7 MB 1.5 MB/s eta 0:00:02
   ------------------------------ --------- 7.3/9.7 MB 1.5 MB/s eta 0:00:02
   ------------------------------ --------- 7.3/9.7 MB 1.5 MB/s eta 0:00:02
   ------------------------------ --------- 7.3/9.7 MB 1.5 MB/s eta 0:00:02
   ------------------------------ --------- 7.3/9.7 MB 1.5 MB/s eta 0:00:02
   ------------------------------- -------- 7.6/9.7 MB 1.3 MB/s eta 0:00:02
   ------------------------------- -------- 7.6/9.7 MB 1.3 MB/s eta 0:00:02
   ------------------------------- -------- 7.6/9.7 MB 1.3 MB/s eta 0:00:02
   -------------------------------- ------- 7.9/9.7 MB 1.2 MB/s eta 0:00:02
   -------------------------------- ------- 7.9/9.7 MB 1.2 MB/s eta 0:00:02
   --------------------------------- ------ 8.1/9.7 MB 1.2 MB/s eta 0:00:02
   ----------------------------------- ---- 8.7/9.7 MB 1.2 MB/s eta 0:00:01
   ------------------------------------- -- 9.2/9.7 MB 1.2 MB/s eta 0:00:01
   -------------------------------------- - 9.4/9.7 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 9.4/9.7 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 9.4/9.7 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 9.4/9.7 MB 1.3 MB/s eta 0:00:01
   -------------------------------------- - 9.4/9.7 MB 1.3 MB/s eta 0:00:01
   ---------------------------------------- 9.7/9.7 MB 1.1 MB/s eta 0:00:00
Downloading trio-0.28.0-py3-none-any.whl (486 kB)
Downloading trio_websocket-0.11.1-py3-none-any.whl (17 kB)
Downloading websocket_client-1.8.0-py3-none-any.whl (58 kB)
Downloading cffi-1.17.1-cp312-cp312-win_amd64.whl (181 kB)
Downloading PySocks-1.7.1-py3-none-any.whl (16 kB)
Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Downloading outcome-1.3.0.post0-py2.py3-none-any.whl (10 kB)
Downloading sortedcontainers-2.4.0-py2.py3-none-any.whl (29 kB)
Downloading pycparser-2.22-py3-none-any.whl (117 kB)
Installing collected packages: sortedcontainers, wsproto, websocket-client, pysocks, pycparser, outcome, cffi, trio, trio-websocket, selenium
Successfully installed cffi-1.17.1 outcome-1.3.0.post0 pycparser-2.22 pysocks-1.7.1 selenium-4.27.1 sortedcontainers-2.4.0 trio-0.28.0 trio-websocket-0.11.1 websocket-client-1.8.0 wsproto-1.2.0
Note: you may need to restart the kernel to use updated packages.

In [3]:
from selenium import webdriver

In [5]:
df=webdriver.chrome()

TypeError: 'module' object is not callable

In [6]:
df.get("http//amazon.in")

NameError: name 'df' is not defined

In [10]:
import pandas as pd

In [12]:
df=pd.read_csv("https://raw.githubusercontent.com/singhrau0/Big-Data-Preprocessing/refs/heads/main/youtubesample.csv")

In [13]:
df

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,Genre
0,m8Dqg8iz5Fo,18.09.05,MY INSTAGRAM FOLLOWERS PICK MY FULL FACE OF MA...,Sylvia Gani,26,2018-04-30T00:18:19.000Z,"i let my subscribers pick my makeup|""subscribe...",834848,35939,578,4121,https://i.ytimg.com/vi/m8Dqg8iz5Fo/default.jpg,False,False,False,SUBSCRIBE HERE: http://bit.ly/2g1cqFWHey S-Clu...,Howto & Style
1,2yCp-Dj5-7c,17.16.12,Does Tiffany Haddish Think NeNe Leakes Is Funn...,Watch What Happens Live with Andy Cohen,24,2017-12-11T04:29:53.000Z,"What What Happens live|""reality""|""interview""|""...",214016,1191,128,125,https://i.ytimg.com/vi/2yCp-Dj5-7c/default.jpg,False,False,False,Actress Tiffany Haddish says if she was nervou...,Entertainment
2,H00djJq68VE,17.27.12,Panettone (Italian Christmas Bread) - Food Wishes,Food Wishes,26,2017-12-23T00:07:02.000Z,"Panettone|""Italian""|""Christmas""|""Bread""|""holid...",283364,8274,332,1016,https://i.ytimg.com/vi/H00djJq68VE/default.jpg,False,False,False,"Learn how to make Panettone! Eaten as is, or t...",Howto & Style
3,oTObwUiXdYY,17.19.11,7.3 Magnitude Earthquake Along Iraq-Iran Borde...,TIME,25,2017-11-13T15:44:35.000Z,"7.3 magnitude earthquake|""earthquake iraq iran...",33761,149,45,222,https://i.ytimg.com/vi/oTObwUiXdYY/default.jpg,False,False,False,A powerful 7.3 magnitude earthquake near the I...,News & Politics
4,yvicqMrAHvQ,18.05.02,Turkish Airlines - 5 Senses with Dr. Oz,Turkish Airlines,19,2018-02-04T23:55:21.000Z,[none],936185,606,74,67,https://i.ytimg.com/vi/yvicqMrAHvQ/default.jpg,False,False,False,🌍✈️\nThere is a world of miracles. Get out the...,Travel & Events
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4995,bqFjyo7I8fY,18.01.03,Red Velvet 레드벨벳 '봐 (Look)' Dance Practice,SMTOWN,10,2018-02-22T03:00:00.000Z,"Red Velvet|""레드벨벳""|""Bad Boy""|""The Perfect Red V...",2696501,159805,1976,12116,https://i.ytimg.com/vi/bqFjyo7I8fY/default.jpg,False,False,False,"Listen and download on iTunes & Apple Music, S...",Music
4996,K0u_kAWLJOA,18.25.01,God of War – Story Trailer | PS4,PlayStation,20,2018-01-23T16:00:02.000Z,"God of War|""Kratos""|""Atreus""|""E3 2017""|""E3""|""G...",1727422,83372,1107,10657,https://i.ytimg.com/vi/K0u_kAWLJOA/default.jpg,False,False,False,https://www.playstation.com/en-us/games/god-of...,Gaming
4997,XGd1dq1BatM,18.19.03,"Halsey - Alone (Audio) ft. Big Sean, Stefflon Don",HalseyVEVO,10,2018-03-15T22:00:01.000Z,"Halsey|""Alone""|""Big Sean""|""Stefflon Don""|""remi...",1176625,66964,1133,3076,https://i.ytimg.com/vi/XGd1dq1BatM/default.jpg,False,False,False,Alone available now: http://www.iamhalsey.com/...,Music
4998,vGTTSdrV37U,18.04.04,Camila Cabello WINS Favorite Breakout Artist 🎤...,Nickelodeon,24,2018-03-25T01:22:15.000Z,"Kids’ Choice Awards|""2018""|""music""|""video game...",724593,13113,807,1909,https://i.ytimg.com/vi/vGTTSdrV37U/default.jpg,False,False,False,The future is YOURS! \n\nSinger-songwriter Cam...,Entertainment
4999,DkeiKbqa02g,18.22.05,"Calvin Harris, Dua Lipa - One Kiss (Official V...",CalvinHarrisVEVO,10,2018-05-02T23:01:00.000Z,"calvin harris|""calvin harris one kiss""|""calvin...",62800938,781317,34495,24760,https://i.ytimg.com/vi/DkeiKbqa02g/default.jpg,False,False,False,Calvin Harris & Dua Lipa – One Kiss (Official ...,Music

In [16]:
df['title'].str.contains("INSTAGRAM")

0        True
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Name: title, Length: 5000, dtype: bool

In [17]:
df[df['title'].str.contains("INSTAGRAM")]#to remove true false values we use df[]

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,Genre
0,m8Dqg8iz5Fo,18.09.05,MY INSTAGRAM FOLLOWERS PICK MY FULL FACE OF MA...,Sylvia Gani,26,2018-04-30T00:18:19.000Z,"i let my subscribers pick my makeup|""subscribe...",834848,35939,578,4121,https://i.ytimg.com/vi/m8Dqg8iz5Fo/default.jpg,False,False,False,SUBSCRIBE HERE: http://bit.ly/2g1cqFWHey S-Clu...,Howto & Style
56,s4kX4R6T9ms,18.07.04,VIRAL INSTAGRAM ONE-SWIPE EYESHADOW Review (fi...,heyitsfeiii,26,2018-04-04T22:00:03.000Z,"heyitsfeiii|""heyitsfei""|""boyfriend""|""kpop""|""re...",260391,12230,258,753,https://i.ytimg.com/vi/s4kX4R6T9ms/default.jpg,False,False,False,➤ [16BRAND] Eyeshadow: \n↬ amazon $11: https:/...,Howto & Style
319,m8Dqg8iz5Fo,18.14.05,MY INSTAGRAM FOLLOWERS PICK MY FULL FACE OF MA...,Sylvia Gani,26,2018-04-30T00:18:19.000Z,"i let my subscribers pick my makeup|""subscribe...",890803,37169,609,4145,https://i.ytimg.com/vi/m8Dqg8iz5Fo/default.jpg,False,False,False,SUBSCRIBE HERE: http://bit.ly/2g1cqFWHey S-Clu...,Howto & Style
2927,oY9GVZKwBhI,18.01.05,COPYING MADDIE ZIEGLER'S INSTAGRAM PHOTOS,Jess Conte,24,2018-04-26T00:55:12.000Z,"bauerbirds|""jess conte""|""jess bauer""|""jess and...",1845581,98572,1345,2585,https://i.ytimg.com/vi/oY9GVZKwBhI/default.jpg,False,False,False,finally got to film with the sweetest girl on ...,Entertainment
3094,ms7t4CnjW1k,18.26.02,HOW I EDIT MY INSTAGRAMS!,FunForLouis,22,2018-02-24T16:07:29.000Z,"daily vlogs|""louis cole""|""funforlouis""|""advent...",43226,1756,135,180,https://i.ytimg.com/vi/ms7t4CnjW1k/default.jpg,False,False,False,Download Presets http://bit.ly/FFLPresets\n\nB...,People & Blogs
3281,oY9GVZKwBhI,18.08.05,COPYING MADDIE ZIEGLER'S INSTAGRAM PHOTOS,Jess Conte,24,2018-04-26T00:55:12.000Z,"bauerbirds|""jess conte""|""jess bauer""|""jess and...",2122278,107538,1460,2778,https://i.ytimg.com/vi/oY9GVZKwBhI/default.jpg,False,False,False,finally got to film with the sweetest girl on ...,Entertainment

In [18]:
#find out those data which is having gaming tags
df['tags'].str.contains("gaming")

0       False
1       False
2       False
3       False
4       False
        ...
4995    False
4996    False
4997    False
4998    False
4999    False
Name: tags, Length: 5000, dtype: bool

In [19]:
df[df['tags'].str.contains("gaming")]

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description,Genre
60,AV1SWIPxxFM,18.25.05,YouTubers React to Try to Watch This Without L...,REACT,24,2018-05-18T19:00:01.000Z,"Laugh Challenge|""Try not to laugh""|""CaptainSpa...",1295534,30458,1291,2287,https://i.ytimg.com/vi/AV1SWIPxxFM/default.jpg,False,False,False,CLICK TO SUBSCRIBE TO THE YOUTUBERS IN THIS EP...,Entertainment
429,UfKmSfgFxi8,18.27.05,FORTNITE The Movie (Official Fake Trailer),nigahiga,24,2018-05-11T21:11:16.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""fortnite""|""th...",13777964,531382,15357,26232,https://i.ytimg.com/vi/UfKmSfgFxi8/default.jpg,False,False,False,Play Fortnite for FREE here: https://pixly.go2...,Entertainment
548,MT7RQ0gu8ak,18.16.05,DO PARENTS KNOW MODERN MUSIC? #17 (REACT: Do T...,REACT,24,2018-05-13T19:00:01.000Z,"Modern music|""Do parents know modern music""|""n...",952439,23180,844,5714,https://i.ytimg.com/vi/MT7RQ0gu8ak/default.jpg,False,False,False,Watch all Do They Know It Eps! https://goo.gl/...,Entertainment
623,PV_GHHXy7Po,18.06.06,Joey Graceffa's Enchanted Gaming Room Makeover...,Mr. Kate,26,2018-05-24T22:00:05.000Z,"colorful room design|""lounge design""|""lounge d...",1278800,69001,617,5758,https://i.ytimg.com/vi/PV_GHHXy7Po/default.jpg,False,False,False,Big thanks to DazzlePro for sponsoring and get...,Howto & Style
684,vDyYMcjf500,18.29.05,The History of Fortnite Battle Royale - Did Yo...,DidYouKnowGaming?,20,2018-05-24T19:00:24.000Z,"fortnite|""fortnite pc""|""fortnite battle royale...",273880,6883,1184,1139,https://i.ytimg.com/vi/vDyYMcjf500/default.jpg,False,False,False,Thanks to Skillshare for sponsoring this video...,Gaming
884,3tjHS7JRB4c,18.07.03,GIANT Pie In The Face!!,Team Edge,23,2018-02-27T21:00:01.000Z,"challenges|""competition""|""family fun""|""kid fri...",1811420,29313,825,5950,https://i.ytimg.com/vi/3tjHS7JRB4c/default.jpg,False,False,False,Shoot The Person Behind The GIANT Wall!! ➡ htt...,Comedy
923,19QxOZU0zkQ,18.14.01,REAL LIFE LUCKY BLOCK MYSTERY BOX!!!,GamingWithJen,22,2018-01-11T21:30:01.000Z,"gamingwithjen|""popularmmos""|""pat and jen""|""pat...",814962,24241,1619,9430,https://i.ytimg.com/vi/19QxOZU0zkQ/default.jpg,False,False,False,Thanks for watching! Don't forget to subscrib...,People & Blogs
1085,r-3iathMo7o,18.23.05,"The ULTIMATE $30,000 Gaming PC Setup",Unbox Therapy,28,2018-05-13T19:00:25.000Z,"gaming setup|""gaming""|""setup""|""fortnite""|""fort...",6124095,127934,9958,15794,https://i.ytimg.com/vi/r-3iathMo7o/default.jpg,False,False,False,"Fortnite, PUBG, Far Cry 5? Which game would yo...",Science & Technology
1182,9WFf9XY5rME,18.31.03,YouTubers React to Try to Watch This Without L...,REACT,24,2018-03-23T19:00:00.000Z,YouTubers React to Try to Watch This Without L...,1620111,42215,1730,2705,https://i.ytimg.com/vi/9WFf9XY5rME/default.jpg,False,False,False,CLICK TO SUBSCRIBE TO THE YOUTUBERS IN THIS EP...,Entertainment
1216,-kTWIm7m4Uw,18.08.06,We Bought A House,JennaMarbles,23,2018-05-16T22:33:29.000Z,"jenna|""marbles""|""mourey""|""we""|""bought""|""a hous...",3378363,335056,1829,49028,https://i.ytimg.com/vi/-kTWIm7m4Uw/default.jpg,False,False,False,This house means the world to us. The absolut...,Comedy
1221,KrxDhokzEv4,17.03.12,Razer Phone Durability test - Scratch BURN and...,JerryRigEverything,26,2017-11-27T15:27:42.000Z,"Razer Phone|""razerphone""|""razor phone""|""gaming...",759274,24368,837,4077,https://i.ytimg.com/vi/KrxDhokzEv4/default.jpg,False,False,False,The Razer Phone is one of the more interesting...,Howto & Style
1283,Yg8jdBLTtfo,18.07.06,Try to Watch This Without Laughing or Grinning...,REACT,24,2018-05-25T19:00:06.000Z,"Laugh Challenge|""Laurie Hernandez""|""Try Not to...",1571161,35484,1846,3317,https://i.ytimg.com/vi/Yg8jdBLTtfo/default.jpg,False,False,False,You can get 25% off on all of our merch using ...,Entertainment
1284,qD2yyikDcDw,18.07.05,Try to Watch This Without Laughing or Grinning...,REACT,24,2018-05-04T19:08:53.000Z,Try to Watch This Without Laughing or Grinning...,1398997,30186,6567,3328,https://i.ytimg.com/vi/qD2yyikDcDw/default.jpg,False,False,False,SUBSCRIBE THEN HIT THE 🔔! New Videos 12pm PT o...,Entertainment
1323,DbJ2s_g1oDc,17.18.11,10 LIFE HACKS YOU NEED TO KNOW with TEENS (REACT),REACT,24,2017-11-13T20:00:01.000Z,"easy life hacks|""life hacks that will change y...",981376,22491,1233,2931,https://i.ytimg.com/vi/DbJ2s_g1oDc/default.jpg,False,False,False,10 Awesome life hacks reacted to by Teens! \nS...,Entertainment
1326,4tpIiSqyiLo,18.30.04,DO COLLEGE KIDS KNOW 80s MUSIC? #11 (REACT: Do...,REACT,24,2018-04-29T19:00:00.000Z,"80s music|""Blondie""|""Madonna""|""DO COLLEGE KIDS...",410300,11712,546,2823,https://i.ytimg.com/vi/4tpIiSqyiLo/default.jpg,False,False,False,Watch all Do They Know It Eps! https://goo.gl/...,Entertainment
1524,1ZXWwIjQnHs,18.05.06,Don't Open The Wrong Mystery Door!!,Team Edge,23,2018-06-01T20:16:00.000Z,"family friendly|""kids games""|""family games""|""c...",1553946,27175,1930,4249,https://i.ytimg.com/vi/1ZXWwIjQnHs/default.jpg,False,False,False,Team Edge Merchandise! ➡ https://teamedge.stor...,Comedy
1631,wa9ZyarpM2U,17.01.12,TEENS READ 10 FUNNY FRIEND ZONE TEXTS (REACT),REACT,24,2017-11-27T20:00:09.000Z,"friend zone texts|""friend zoned""|""funny texts""...",1409223,33149,1438,3023,https://i.ytimg.com/vi/wa9ZyarpM2U/default.jpg,False,False,False,10 funny friend zone texts reacted to by Teens...,Entertainment
1639,r-3iathMo7o,18.29.05,"The ULTIMATE $30,000 Gaming PC Setup",Unbox Therapy,28,2018-05-13T19:00:25.000Z,"gaming setup|""gaming""|""setup""|""fortnite""|""fort...",6431372,133425,10286,16289,https://i.ytimg.com/vi/r-3iathMo7o/default.jpg,False,False,False,"Fortnite, PUBG, Far Cry 5? Which game would yo...",Science & Technology
1770,ifkRhaEDzzo,17.18.12,TRYING ON ENGAGEMENT RINGS (no proposal),PointlessBlogVlogs,24,2017-12-16T17:00:08.000Z,"pointlessblog|""pointlessblogtv""|""pointlessblog...",430932,23781,539,1299,https://i.ytimg.com/vi/ifkRhaEDzzo/default.jpg,False,False,False,► TRYING ON ENGAGEMENT RINGS\n► 20% Off PB Mer...,Entertainment
1776,9WFf9XY5rME,18.25.03,YouTubers React to Try to Watch This Without L...,REACT,24,2018-03-23T19:00:00.000Z,YouTubers React to Try to Watch This Without L...,976803,31107,953,2774,https://i.ytimg.com/vi/9WFf9XY5rME/default.jpg,False,False,False,CLICK TO SUBSCRIBE TO THE YOUTUBERS IN THIS EP...,Entertainment
1959,UfKmSfgFxi8,18.24.05,FORTNITE The Movie (Official Fake Trailer),nigahiga,24,2018-05-11T21:11:16.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""fortnite""|""th...",13304672,525703,15138,25969,https://i.ytimg.com/vi/UfKmSfgFxi8/default.jpg,False,False,False,Play Fortnite for FREE here: https://pixly.go2...,Entertainment
1970,XUIwpXq_jBo,18.08.03,TOMB RAIDER TEMPLE CAKE - NERDY NUMMIES,Rosanna Pansino,26,2018-03-06T18:45:38.000Z,"baking|""how to""|""basic""|""simple""|""easy""|""step ...",312684,15633,201,2904,https://i.ytimg.com/vi/XUIwpXq_jBo/default.jpg,False,False,False,Today I made a Pineapple flavored Tomb Raider ...,Howto & Style
2241,-kTWIm7m4Uw,18.03.06,We Bought A House,JennaMarbles,23,2018-05-16T22:33:29.000Z,"jenna|""marbles""|""mourey""|""we""|""bought""|""a hous...",3317810,332538,1805,48865,https://i.ytimg.com/vi/-kTWIm7m4Uw/default.jpg,False,False,False,This house means the world to us. The absolut...,Comedy
2673,o3T_o4WM-n8,18.12.02,A Crushing Valentine's Day,Studio C,23,2018-02-09T23:00:04.000Z,"BYUtv|""BYU tv""|""BYUtelevision""|""Studio C""|""Stu...",379347,16749,440,2445,https://i.ytimg.com/vi/o3T_o4WM-n8/default.jpg,False,False,False,A Crushing Valentine's Day. When all hope is l...,Comedy
2756,UfKmSfgFxi8,18.16.05,FORTNITE The Movie (Official Fake Trailer),nigahiga,24,2018-05-11T21:11:16.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""fortnite""|""th...",9353689,435048,11920,22820,https://i.ytimg.com/vi/UfKmSfgFxi8/default.jpg,False,False,False,Play Fortnite for FREE here: https://pixly.go2...,Entertainment
2867,fi483E-A8P4,18.13.02,THE CUPID CHALLENGE! ft CaptainSparklez,Rosanna Pansino,26,2018-02-10T16:01:42.000Z,"challenge|""fun""|""friends""|""captainsparklez""|""m...",480701,21869,362,3608,https://i.ytimg.com/vi/fi483E-A8P4/default.jpg,False,False,False,Today I played the Cupid Challenge game with m...,Howto & Style
2919,Yg8jdBLTtfo,18.01.06,Try to Watch This Without Laughing or Grinning...,REACT,24,2018-05-25T19:00:06.000Z,"Laugh Challenge|""Laurie Hernandez""|""Try Not to...",1389464,32994,1735,3215,https://i.ytimg.com/vi/Yg8jdBLTtfo/default.jpg,False,False,False,You can get 25% off on all of our merch using ...,Entertainment
3023,XUIwpXq_jBo,18.10.03,TOMB RAIDER TEMPLE CAKE - NERDY NUMMIES,Rosanna Pansino,26,2018-03-06T18:45:38.000Z,"baking|""how to""|""basic""|""simple""|""easy""|""step ...",430106,18058,294,3214,https://i.ytimg.com/vi/XUIwpXq_jBo/default.jpg,False,False,False,Today I made a Pineapple flavored Tomb Raider ...,Howto & Style
3103,exYLX9xGoyo,17.04.12,PRINCESS PEACH CAKE - SUPER MARIO - NERDY NUMMIES,Rosanna Pansino,26,2017-11-28T14:58:28.000Z,"mario|""super mario""|""mario run""|""mario bros""|""...",632190,29942,274,5196,https://i.ytimg.com/vi/exYLX9xGoyo/default.jpg,False,False,False,Today I made the Princess Peach Cake from Supe...,Howto & Style
3125,HorugBalutw,18.24.05,Edgeland | Battle for The Trophy! pt.2,Team Edge,23,2018-05-18T21:16:00.000Z,"family friendly|""kids games""|""family games""|""c...",1083165,18845,390,2423,https://i.ytimg.com/vi/HorugBalutw/default.jpg,False,False,False,"We partnered with LEGO on this awesome video, ...",Comedy
3255,fi483E-A8P4,18.19.02,THE CUPID CHALLENGE! ft CaptainSparklez,Rosanna Pansino,26,2018-02-10T16:01:42.000Z,"challenge|""fun""|""friends""|""captainsparklez""|""m...",624072,23952,418,3993,https://i.ytimg.com/vi/fi483E-A8P4/default.jpg,False,False,False,Today I played the Cupid Challenge game with m...,Howto & Style
3438,XUIwpXq_jBo,18.19.03,TOMB RAIDER TEMPLE CAKE - NERDY NUMMIES,Rosanna Pansino,26,2018-03-06T18:45:38.000Z,"baking|""how to""|""basic""|""simple""|""easy""|""step ...",571803,20556,364,3685,https://i.ytimg.com/vi/XUIwpXq_jBo/default.jpg,False,False,False,Today I made a Pineapple flavored Tomb Raider ...,Howto & Style
3528,8x7UtZKwfHA,18.02.05,World's Biggest Fortnite Gaming Setup!,Unbox Therapy,28,2018-04-29T18:19:04.000Z,"fortnite|""fortnite setup""|""fortnite season 4""|...",2585045,68009,5081,14237,https://i.ytimg.com/vi/8x7UtZKwfHA/default.jpg,False,False,False,Fortnite has never been this big. Feast your e...,Science & Technology
3731,HTTpDGDAxtg,18.18.05,YANNY or LAUREL: What do you hear? (REACT),REACT,24,2018-05-16T23:00:00.000Z,"laurel yanny|""laurel or yanny""|""laurel vs yann...",2405120,62240,1812,29313,https://i.ytimg.com/vi/HTTpDGDAxtg/default.jpg,False,False,False,See if FBE Staff hears Yanny or Laurel on FBE2...,Entertainment
3831,7gdoj1ViJ8M,18.22.03,RED DEAD REDEMPTION HORSESHOE COOKIES ft sWooZ...,Rosanna Pansino,26,2018-03-20T14:13:00.000Z,"red dead redemption|""red dead redemption 2""|""w...",201461,10540,252,2071,https://i.ytimg.com/vi/7gdoj1ViJ8M/default.jpg,False,False,False,Today I made Almond Horseshoe Cookies inspired...,Howto & Style
4203,r-3iathMo7o,18.01.06,"The ULTIMATE $30,000 Gaming PC Setup",Unbox Therapy,28,2018-05-13T19:00:25.000Z,"gaming setup|""gaming""|""setup""|""fortnite""|""fort...",6560623,135945,10423,16566,https://i.ytimg.com/vi/r-3iathMo7o/default.jpg,False,False,False,"Fortnite, PUBG, Far Cry 5? Which game would yo...",Science & Technology
4236,Yg8jdBLTtfo,18.28.05,Try to Watch This Without Laughing or Grinning...,REACT,24,2018-05-25T19:00:06.000Z,"Laugh Challenge|""Laurie Hernandez""|""Try Not to...",1092966,28804,1346,2860,https://i.ytimg.com/vi/Yg8jdBLTtfo/default.jpg,False,False,False,You can get 25% off on all of our merch using ...,Entertainment
4316,7gdoj1ViJ8M,18.27.03,RED DEAD REDEMPTION HORSESHOE COOKIES ft sWooZ...,Rosanna Pansino,26,2018-03-20T14:13:00.000Z,"red dead redemption|""red dead redemption 2""|""w...",288345,12486,368,2362,https://i.ytimg.com/vi/7gdoj1ViJ8M/default.jpg,False,False,False,Today I made Almond Horseshoe Cookies inspired...,Howto & Style
4334,r-3iathMo7o,18.11.06,"The ULTIMATE $30,000 Gaming PC Setup",Unbox Therapy,28,2018-05-13T19:00:25.000Z,"gaming setup|""gaming""|""setup""|""fortnite""|""fort...",6995168,143678,10925,17444,https://i.ytimg.com/vi/r-3iathMo7o/default.jpg,False,False,False,"Fortnite, PUBG, Far Cry 5? Which game would yo...",Science & Technology
4373,VH4pgiB5xu8,18.22.01,WHAT TO LEAVE IN 2017,danisnotinteresting,24,2018-01-16T23:02:42.000Z,"what to leave in 2017|""what""|""to""|""leave""|""in""...",195410,21967,76,2030,https://i.ytimg.com/vi/VH4pgiB5xu8/default.jpg,False,False,False,me the answer is me this entire live show is j...,Entertainment
4670,hYirFqEc8Tg,18.19.04,Crossbow Trick Shots | Dude Perfect,Dude Perfect,17,2018-04-09T21:55:11.000Z,"dude perfect|""dude perfect stereotypes""|""dude ...",14432472,396743,8493,27866,https://i.ytimg.com/vi/hYirFqEc8Tg/default.jpg,False,False,False,It's crossbow time!\nSpecial thanks to Hearths...,Sports
4679,4tpIiSqyiLo,18.03.05,DO COLLEGE KIDS KNOW 80s MUSIC? #11 (REACT: Do...,REACT,24,2018-04-29T19:00:00.000Z,"80s music|""Blondie""|""Madonna""|""DO COLLEGE KIDS...",692612,15873,880,2925,https://i.ytimg.com/vi/4tpIiSqyiLo/default.jpg,False,False,False,Watch all Do They Know It Eps! https://goo.gl/...,Entertainment
4775,Yg8jdBLTtfo,18.08.06,Try to Watch This Without Laughing or Grinning...,REACT,24,2018-05-25T19:00:06.000Z,"Laugh Challenge|""Laurie Hernandez""|""Try Not to...",1583349,35612,1852,3342,https://i.ytimg.com/vi/Yg8jdBLTtfo/default.jpg,False,False,False,You can get 25% off on all of our merch using ...,Entertainment
4785,3tjHS7JRB4c,18.10.03,GIANT Pie In The Face!!,Team Edge,23,2018-02-27T21:00:01.000Z,"challenges|""competition""|""family fun""|""kid fri...",1945752,30272,868,6144,https://i.ytimg.com/vi/3tjHS7JRB4c/default.jpg,False,False,False,Shoot The Person Behind The GIANT Wall!! ➡ htt...,Comedy
4789,-kTWIm7m4Uw,18.01.06,We Bought A House,JennaMarbles,23,2018-05-16T22:33:29.000Z,"jenna|""marbles""|""mourey""|""we""|""bought""|""a hous...",3292345,331484,1802,48798,https://i.ytimg.com/vi/-kTWIm7m4Uw/default.jpg,False,False,False,This house means the world to us. The absolut...,Comedy
4842,894rSubVE5E,18.04.03,GUESS THAT SONG CHALLENGE: Oscar Winning Songs...,REACT,24,2018-03-03T20:00:01.000Z,"Oscars|""Oscar Winning""|""Oscar Awards""|""GUESS T...",298474,9424,176,1137,https://i.ytimg.com/vi/894rSubVE5E/default.jpg,False,False,False,Guess that Oscar Winning Song played by FBE St...,Entertainment

In [20]:
text = 'hello world'
result = text.capitalize()
print(result)

Hello world

In [22]:
df['title']=df['title'].str.replace("INSTAGRAM","INSTA")

In [23]:
df['title'].str.replace("INSTAGRAM","INSTA")

0         MY INSTA FOLLOWERS PICK MY FULL FACE OF MAKEUP!
1       Does Tiffany Haddish Think NeNe Leakes Is Funn...
2       Panettone (Italian Christmas Bread) - Food Wishes
3       7.3 Magnitude Earthquake Along Iraq-Iran Borde...
4                 Turkish Airlines - 5 Senses with Dr. Oz
                              ...
4995            Red Velvet 레드벨벳 '봐 (Look)' Dance Practice
4996                     God of War – Story Trailer | PS4
4997    Halsey - Alone (Audio) ft. Big Sean, Stefflon Don
4998    Camila Cabello WINS Favorite Breakout Artist 🎤...
4999    Calvin Harris, Dua Lipa - One Kiss (Official V...
Name: title, Length: 5000, dtype: object

In [25]:
#conver my to min
df['title'].str.replace("my","mine")

0         MY INSTA FOLLOWERS PICK MY FULL FACE OF MAKEUP!
1       Does Tiffany Haddish Think NeNe Leakes Is Funn...
2       Panettone (Italian Christmas Bread) - Food Wishes
3       7.3 Magnitude Earthquake Along Iraq-Iran Borde...
4                 Turkish Airlines - 5 Senses with Dr. Oz
                              ...
4995            Red Velvet 레드벨벳 '봐 (Look)' Dance Practice
4996                     God of War – Story Trailer | PS4
4997    Halsey - Alone (Audio) ft. Big Sean, Stefflon Don
4998    Camila Cabello WINS Favorite Breakout Artist 🎤...
4999    Calvin Harris, Dua Lipa - One Kiss (Official V...
Name: title, Length: 5000, dtype: object

In [29]:
#convert title column to lower case
df['title'].str.casefold()

0         my insta followers pick my full face of makeup!
1       does tiffany haddish think nene leakes is funn...
2       panettone (italian christmas bread) - food wishes
3       7.3 magnitude earthquake along iraq-iran borde...
4                 turkish airlines - 5 senses with dr. oz
                              ...
4995            red velvet 레드벨벳 '봐 (look)' dance practice
4996                     god of war – story trailer | ps4
4997    halsey - alone (audio) ft. big sean, stefflon don
4998    camila cabello wins favorite breakout artist 🎤...
4999    calvin harris, dua lipa - one kiss (official v...
Name: title, Length: 5000, dtype: object

In [33]:
#get 10 character from each title
df['title'].str[0:11:1]

0       MY INSTA FO
1       Does Tiffan
2       Panettone (
3       7.3 Magnitu
4       Turkish Air
           ...
4995    Red Velvet
4996    God of War
4997    Halsey - Al
4998    Camila Cabe
4999    Calvin Harr
Name: title, Length: 5000, dtype: object

In [35]:
df['thumbnail_link'].str.split("/")

0       [https:, , i.ytimg.com, vi, m8Dqg8iz5Fo, defau...
1       [https:, , i.ytimg.com, vi, 2yCp-Dj5-7c, defau...
2       [https:, , i.ytimg.com, vi, H00djJq68VE, defau...
3       [https:, , i.ytimg.com, vi, oTObwUiXdYY, defau...
4       [https:, , i.ytimg.com, vi, yvicqMrAHvQ, defau...
                              ...
4995    [https:, , i.ytimg.com, vi, bqFjyo7I8fY, defau...
4996    [https:, , i.ytimg.com, vi, K0u_kAWLJOA, defau...
4997    [https:, , i.ytimg.com, vi, XGd1dq1BatM, defau...
4998    [https:, , i.ytimg.com, vi, vGTTSdrV37U, defau...
4999    [https:, , i.ytimg.com, vi, DkeiKbqa02g, defau...
Name: thumbnail_link, Length: 5000, dtype: object

In [38]:
df['thumbnail_link'].str.split("/").str[4].str.upper()

0       M8DQG8IZ5FO
1       2YCP-DJ5-7C
2       H00DJJQ68VE
3       OTOBWUIXDYY
4       YVICQMRAHVQ
           ...
4995    BQFJYO7I8FY
4996    K0U_KAWLJOA
4997    XGD1DQ1BATM
4998    VGTTSDRV37U
4999    DKEIKBQA02G
Name: thumbnail_link, Length: 5000, dtype: object

In [40]:
#first word from each channel
df['channel_title'].str.split(" ").str[0]

0                 Sylvia
1                  Watch
2                   Food
3                   TIME
4                Turkish
              ...
4995              SMTOWN
4996         PlayStation
4997          HalseyVEVO
4998         Nickelodeon
4999    CalvinHarrisVEVO
Name: channel_title, Length: 5000, dtype: object